html {
	scroll-behavior: smooth;
	font-feature-settings: liga;
}

a {
	color: var(--mui-palette-primary-main);
}

a:hover {
	color: var(--mui-palette-secondary-dark);
}

tbody {
	word-wrap: break-word;
	word-break: break-all;
}
