html {
	scroll-behavior: smooth;
	font-feature-settings: liga;
	scrollbar-gutter: stable;
	scrollbar-color: var(--mui-palette-primary-main)
		var(--mui-palette-background-default);
}

a {
	color: var(--mui-palette-primary-main);
}

a:hover {
	color: var(--mui-palette-secondary-dark);
}

table {
	overflow-wrap: break-word;
	word-break: break-all;
}
