html {
	scroll-behavior: smooth;
	font-feature-settings: liga;
	scrollbar-color: var(--mui-palette-primary-main)
		var(--mui-palette-background-default);
}

a {
	color: var(--mui-palette-primary-main);
}

a:hover {
	color: var(--mui-palette-secondary-dark);
}


